.row
   .col-xs-12.t-a-r
      label(for='number-cvv') CVV2/CVC2
   .col-xs-12.pos-r
      .s-bg-repeat-grad.l-h-30.s-brad
      +input('number-cvv', 'l-w-50 f-r pos-a l-t-0 l-r-15 t-a-c', 'text', 'XXX')(tabindex="8")