.error
   | Ваш платеж отклонен. Пожалуйста, проверьте правильность введенной
   | информации по Вашей банковской карте и попробуйте еще раз.
   br
   br
   | Просим Вас повторно ввести поля: Номер карты, Срок действия,
   | Код CVV2 или CVC2, Имя держателя карты. Мы не сохраняем
   | их в целях Вашей безопасности.