extends ../extends/index-extend
block content
	.col-xs-12.l-mb-30.index-page
		ul
			li
				a(href="/payment-process.html")
					div D-U-payment-process
					img(src='./assets/Test/D-U-Payment-Process.png')