extends ../extends/index-extend
block content
	.center-table
		.center-table__row
			.center-table__cell
				div
					.max-w-295.center-block.m-b-43
						img.img-responsive.center-block(src='./assets/payment-success.svg')
					.center-block.max-w-300
						.large-text.m-b-20.t-a-c
							strong
								| Платеж совершен успешно!
						.regular-text.m-b-20.t-a-c
							| Информация о платеже направлена
							| по указанному адресу электронной почты.
						button#button-success.l-h-40.l-mb-20.submit.center-block Закрыть
block scripts
	script(type="text/javascript").
		new _hackButton();