//COLOR
$main-white: #fff;

$base-xxs: #f8f8f8;
$base-xs: #f1f1f1;
$base-s: #ececec;
$base: #d6d6d6;
$base-l: #999999;
$base-xl: #666666;
$base-xxl: #333333;

$brand-s: #ff4b50;
$brand: #ed1b2f;
$brand-l: #b4000a;

$disabled-input-bg: #eee;

//Border-radius
$brad: 4px;
$brad-l: 8px;

//Font-size
$font-s: 11px;
$font: 13px;
$font-l: 16px;

//Media Queries from bootstrap
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
